.title-introduction-1{
    background-color: whitesmoke;
    width:100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
  }
  .navbar-brand.hover-select{
    padding: 0 15px 0; 
    color: crimson;
  }
  .navbar-brand.hover-select:hover{
    color: black;
  }
  .navbar-brand.nav-now{
    padding: 0 15px 0; 
    color: black;
  }